<div class="page-footer__wrapper">
  <footer class="page-footer">
    <div class="page-footer__contacts">
      <div class="page-footer__logo">
        <a href="index-1.html"><img src="http://new.rusinst.ru/images/logo-white.svg" alt=""></a>
        <div class="page-footer__logo-name">Институт русской цивилизиции</div>
      </div>
      <p>Направлять отзывы и предложения можно по адресу: 121170, Москва, а/я 18.</p>
      <ul class="page-footer__contacts-list">
        <li>Москва, ул. Большой Предтеченский переулок, д.&nbsp;27/29 стр.2</li>
        <li>+7 (495) 605-25-35</li>
      </ul>
    </div>
    <div class="page-footer__menu">
      <h4>Меню</h4>
      <ul class="page-footer__menu-list">
        <li class="page-footer__menu-list-item"><a href="/ob-institute.html" title="Об институте">Об институте</a></li>
        <li class="page-footer__menu-list-item"><a href="/trudy-instituta.html" title="Труды института">Труды института</a></li>
        <li class="page-footer__menu-list-item"><a href="/avtory.html" title="Авторы">Авторы</a></li>
        <li class="page-footer__menu-list-item"><a href="servisy/novosti.html" title="Новости">Новости</a></li>
        <li class="page-footer__menu-list-item"><a href="servisy/biblioteka.html" title="Библиотека">Библиотека</a></li>
        <li class="page-footer__menu-list-item"><a href="servisy/arhiv.html" title="Архив">Архив</a></li>
        <li class="page-footer__menu-list-item"><a href="servisy/videomaterialy.html" title="Видеоматериалы">Видеоматериалы</a></li>
        <li class="page-footer__menu-list-item"><a href="servisy/muzej.html" title="Музей">Музей</a></li>
        <li class="page-footer__menu-list-item"><a href="/kontakty.html" title="Контакты">Контакты</a></li>
      </ul>
    </div>
    <div class="page-footer__newsletter">
      <h4>Еженедельная рассылка</h4>
      <form class="page-footer__newsletter-form">
        <input class="form-control.newsletter" type="text" placeholder="Оставьте свой Email">
        <button>Подпишись</button>
      </form>
    </div>
  </footer>
</div>