<div class="page-header__wrapper">
  <header class="page-header">
    <div class="page-header__top-wrapper">
      <div class="page-header__top">
        <div class="page-header__top-name">Институт русской цивилизации</div>
        <div class="page-header__top-search">
          <form action="" class="page-header__top-search-form">
            <input type="text" class="page-header__top-search-form-field"><button class="page-header__top-search-form-btn"><img src="img/search.svg" alt=""></button>
          </form>
        </div>
      </div>
    </div>
    <div class="page-header__bottom-wrapper">
      <div class="page-header__bottom">
        <div class="page-header__bottom-logo"><a href="index.html"><img src="http://new.rusinst.ru/images/logo.svg" alt="" class="page-header__bottom-logo-img"></a></div>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__list-item"><a href="">Об институте</a></li>
            <li class="main-nav__list-item"><a href="">Труды института</a></li>
            <li class="main-nav__list-item"><a href="">Авторы</a></li>
            <li class="main-nav__list-item"><a href="">Новости</a></li>
            <li class="main-nav__list-item"><a href="">Библиотека</a></li>
            <li class="main-nav__list-item"><a href="">Архив</a></li>
            <li class="main-nav__list-item"><a href="">Видеоматериалы</a></li>
            <li class="main-nav__list-item"><a href="">Музей</a></li>
            <li class="main-nav__list-item"><a href="">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>