.page-header__top-wrapper {
  background-color: #202A3B;
}

.page-header__top,
.page-header__bottom {
  @extend %container;
}

.page-header__top {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  color: #fff;
  font-size: 20px;
  &-name {
    font-family: "Izhitsa";
  }
  &-search {
    &-form {
      &-field {
        background-color: transparent;
        border: 1px solid #fff;
      }
      &-btn {
        height: 20px;
        background-color: transparent;
        border: none;
        height: 100%;
        img {
          width: 20px;
          transform: translateY(3px);
        }
      }
    }
  }
}

.page-header__bottom {
  display: flex;
  &-logo {
    position: relative;
    z-index: 10;
    &::before {
      position: absolute;
      content: "";
      width: 70px;
      height: 100px;
      background-color: #fff;
      z-index: -1;
      top: -38px;
      border-radius: 90%;
      left: -6px;
      z-index: -1;
    }
    &-img {
      width: 60px;
      margin-top: -30px;
    }
  }
}

@media #{$tablet-widths} {
  header {
    background-color: midnightblue;
  }
}